body {
  background-color: #EAF6F6;
}
hr {
  background-color: none;
  height: 2px;
  width: 10%;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
}
h1{
  color: #71C9CE;
}
h3{
  color: #71C9CE;
}
img:hover{
  {opacity: 0.7;}
}
